<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>
<body>

<h1>Restablecimiento de Contraseña</h1>
<p>Hola {{fullname}},</p>
<p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en VeciApp. Si no has sido tú, puedes ignorar este correo.</p>
<p>Para continuar, por favor haz clic en el siguiente botón:</p>
<a href="{{anchor}}" class="button">Restablecer Contraseña</a>
<p>Este enlace expirará en 10 minutos.</p>
<p>Gracias,<br>El equipo de VeciApp</p>

</body>
</html>
